<h1>Name: <%= @patient.name %></h1>
<h2>Age: <%= @patient.age %></h2>
<ul>
  <% @patient.appointments.each do |a| %>
    <li><%= link_to "#{a.time_format} with #{a.doctor.name}", doctor_path(a.doctor.id) %></li>
  <% end %>
</ul>

<%= link_to "Back to Patients List", patients_path %>
