<h1>All Doctors</h1>
<!--  display each doctors name, a link to their show page, and a count of their patients-->
<ul>
<% @doctors.each do | doctor | %>
  <li><%= link_to doctor.name, doctor_path(doctor) %>.  <%= doctor.patient_count %> patients.</li>
<% end %>
</ul>
