<h1>Name: <%= @doctor.name %></h1>
<h2>Department: <%= @doctor.department %></h2>
<ul>
  <% @doctor.appointments.each do |a| %>
    <li><%= link_to "#{a.time_format} with #{a.patient.name}", patient_path(a.patient.id) %></li>
  <% end %>
</ul>

<%= link_to "Back to Doctors List", doctors_path %>
